**.idea/
**pycache*
.venv/
**.py[cod]
.DS_Store
**.sqlite3
**.env
**/migrations/__pycache__/
**/migrations/*.py
endpoint-tests/endpoints
endpoint-tests/httpie-tests
dummy_presentations/
media/
presentations/